/* 
Custom CSS by AriPadrian
*/
.datepicker {
    z-index: 9999;
}
tr:hover {
    background-color: #eaeaea;
    cursor: pointer;
}
.header-title {
    text-transform: capitalize;
}
@media only screen and (min-width: 600px) {
                .pleft {
                padding-left: 250px;
            }
            }
          html body {
            font-family: 'Rubik';
        }
            /* width */
            ::-webkit-scrollbar {
                width: 10px;
            }
            
            /* Track */
            ::-webkit-scrollbar-track {
                background: #f1f1f1; 
            }
             
            /* Handle */
            ::-webkit-scrollbar-thumb {
                background: #888; 
            }
            
            /* Handle on hover */
            ::-webkit-scrollbar-thumb:hover {
                background: #555; 
            }